body {
    font-family: Arial, sans-serif;
    background-color: #140e43;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    color: #c0c0c0;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
    text-align: center;
}
  
  input[type="number"] {
    margin: 0;
    width: 10%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 4px;
    margin-right: auto; /* Push the boxes to the left */
    margin-left: 0; /* Remove the automatic left margin */
}
  
  input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    font-size: 16px;
    background-color: #5e0606;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #prediction {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }