.layoutHeader {
  /* control header vertically */
  padding: 3px;
  font-size: 14px;
  height: 20px;
}

.layoutHeader img {
  /* Set the max-height property to ensure the logo doesn't exceed the header height */
  max-height: 10px;
}

.layoutNavigation {
  display: flex;
}

.layoutNavList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.layoutNavItem {
  margin-left: 10px;
}

.layoutNavLink {
  color: #a4a4a4;
  text-decoration: none;
  font-weight: bold;
}
