.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #333333;
  color: #ffffff;
}

.contactHeading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contactDetails {
  font-size: 1.2rem;
}

.contactButton {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #c40000;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}

.contactButton:hover {
  background-color: #990000;
}
