/* === Dashboard Container === */
.dashboard-container {
    background-color: #f2f2f2; /* Light background for contrast */
    color: #333; /* Dark color for text */
    padding: 20px;
    font-family: Arial, sans-serif;
}

.dashboard-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* === Filters Container === */
.filters-container {
    padding: 10px 20px;
    background-color: #ffffff; /* White background for cards */
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

/* === Custom Dropdown === */
.custom-dropdown-toggle {
    background-color: #007bff; /* Blue color */
    border-color: #007bff;
    color: #fff; /* White text */
}

.custom-dropdown-toggle:hover,
.custom-dropdown-toggle:focus {
    background-color: #0056b3; /* Darker blue on hover and focus */
    border-color: #0056b3;
}

.custom-dropdown-item {
    color: #007bff; /* Blue text for the items */
}

.custom-dropdown-item:hover,
.custom-dropdown-item:focus {
    background-color: #007bff; /* Blue background on hover and focus for the items */
    color: #fff; /* White text on hover and focus for the items */
}

/* === Data Visualizations Container === */
.data-visualizations-container {
    padding: 10px 20px;
}

.visualization-section {
    margin-bottom: 30px;
}

.visualization-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.tooltip-container {
    background-color: #ffffff; /* White background for tooltips */
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* === Dropdown Menu === */
.dropdown-menu {
    background-color: #ffffff; /* White background for dropdown */
}

.dropdown-item {
    color: #333; /* Dark color for text */
}

.dropdown-item:hover {
    background-color: #f5f5f5; /* Light hover effect */
}

.visualization-description {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    padding: 0 15%;
    text-align: center;
}

.legal-disclaimer {
    font-size: 0.8em;
    color: #535353;
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 5px;
}
  

/* === Plot Container === */
.plot-container {
    background-color: #ffffff; /* White background for plots */
    border-radius: 10px;
    padding: 20px; /* Controls padding for labels and axes */
    overflow: visible; /* Ensure content doesn't get clipped */
}

/* === Customize recharts styles === */
.recharts-cartesian-grid-vertical,
.recharts-cartesian-grid-horizontal {
    stroke: #888;
}

.recharts-cartesian-axis-ticks text {
    fill: #333; /* Dark color for text */
}

.recharts-brush-bar {
    fill: #f5f5f5; /* Light fill for brush bar */
}
