html, body {
    /* Sets the height and width to 100%, to fill the entire page */
    height: 100%;
    width: 100%;
    /* Removes any margin and padding */
    margin: 0;
    padding: 0;
    /* Sets the background color to black */
    background-color: #000000;
    /* Sets the color to white */
    color: #ffffff;
  }
  