.layoutHeader {
  padding: 1.2em 0;        
  font-family: 'Arial', sans-serif;
  font-size: 1.4em;
  border-bottom: 1px solid #333; /* Keep the border for visual separation */
}

.layoutNavList { /* No additional styles needed here */ }

.layoutNavLink {
  color: #e0e0e0;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.layoutNavLink:hover {
  background-color: #333;
  color: white;
}
